<a href="https://colab.research.google.com/github/mmorritti/Python_ITS/blob/main/Funzioni_Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Come mai non si usa sempre inplace?

In [2]:
import pandas as pd

In [3]:
data_prov = pd.read_csv('/content/drive/MyDrive/Python/Dati-20201120/dataset auto.csv', sep = ';')

In [4]:
data_prov.head() #visualizza 5 righe dataset

         make fueltype aspiration  ...  price Unnamed: 24 Unnamed: 25
0  alfa-romeo      gas        std  ...  13495         NaN         NaN
1  alfa-romeo      gas        std  ...  16500         NaN         NaN
2  alfa-romeo      gas        std  ...  16500         NaN         NaN
3        audi      gas        std  ...  13950         NaN         NaN
4        audi      gas        std  ...  17450         NaN         NaN

[5 rows x 26 columns]

In [9]:
data_prov.head(10) #visualizza 10 righe dataset

         make fueltype aspiration  ...  price Unnamed: 24 Unnamed: 25
0  alfa-romeo      gas        std  ...  13495         NaN         NaN
1  alfa-romeo      gas        std  ...  16500         NaN         NaN
2  alfa-romeo      gas        std  ...  16500         NaN         NaN
3        audi      gas        std  ...  13950         NaN         NaN
4        audi      gas        std  ...  17450         NaN         NaN
5        audi      gas        std  ...  15250         NaN         NaN
6        audi      gas        std  ...  17710         NaN         NaN
7        audi      gas        std  ...  18920         NaN         NaN
8        audi      gas      turbo  ...  23875         NaN         NaN
9         bmw      gas        std  ...  16430         NaN         NaN

[10 rows x 26 columns]

In [13]:
data_prov.shape #Info su riche e colonne

(193, 26)

In [17]:
data_prov.info() #info su dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   make         193 non-null    object
 1   fueltype     193 non-null    object
 2   aspiration   193 non-null    object
 3   doors        193 non-null    object
 4   body         193 non-null    object
 5   drive        193 non-null    object
 6   engineloc    193 non-null    object
 7   wheelbase    193 non-null    float64
 8   length       193 non-null    float64
 9   width        193 non-null    float64
 10  height       193 non-null    float64
 11  weight       193 non-null    int64
 12  enginetype   193 non-null    object
 13  cylinders    193 non-null    object
 14  enginesize   193 non-null    int64
 15  fuelsystem   193 non-null    object
 16  bore         193 non-null    float64
 17  stroke       193 non-null    float64
 18  compression  193 non-null    float64
 19  horsepower   193 non-null    int64
 20  rpm          193 non-null    int64
 21  citympg      193 non-null    int64
 22  highwaympg   193 non-null    int64
 23  price        193 non-null    int64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(9), int64(7), object(10)
memory usage: 39.3+ KB

In [18]:
data_prov.describe() #restituisce una prima statistica

        wheelbase      length  ...  Unnamed: 24  Unnamed: 25
count  193.000000  193.000000  ...          0.0          0.0
mean    98.923834  174.326425  ...          NaN          NaN
std      6.152409   12.478593  ...          NaN          NaN
min     86.600000  141.100000  ...          NaN          NaN
25%     94.500000  166.300000  ...          NaN          NaN
50%     97.000000  173.200000  ...          NaN          NaN
75%    102.400000  184.600000  ...          NaN          NaN
max    120.900000  208.100000  ...          NaN          NaN

[8 rows x 16 columns]

In [20]:
data_prov['make'].unique() #restituisce valori univoci di una data colonna

array(['alfa-romeo', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [21]:
data_prov['make'].value_counts() #restituisce valori univoci di una data colonna e la loro frequenza

toyota           32
nissan           18
honda            13
mitsubishi       13
subaru           12
mazda            12
volkswagen       12
peugot           11
volvo            11
dodge             8
bmw               8
mercedes-benz     8
plymouth          7
saab              6
audi              6
porsche           4
jaguar            3
alfa-romeo        3
chevrolet         3
isuzu             2
mercury           1
Name: make, dtype: int64

In [27]:
data_prov.columns #restituisce nome colonne

Index(['make', 'fueltype', 'aspiration', 'doors', 'body', 'drive', 'engineloc',
       'wheelbase', 'length', 'width', 'height', 'weight', 'enginetype',
       'cylinders', 'enginesize', 'fuelsystem', 'bore', 'stroke',
       'compression', 'horsepower', 'rpm', 'citympg', 'highwaympg', 'price',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [35]:
#cambiare nome colonna
data_prov.rename(columns = {'fueltype' : 'carburante'}, inplace=True) #'vecchio nome' : 'nuovo nome', inplace salva valore

In [36]:
data_prov.head()

         make carburante aspiration  ...  price Unnamed: 24 Unnamed: 25
0  alfa-romeo        gas        std  ...  13495         NaN         NaN
1  alfa-romeo        gas        std  ...  16500         NaN         NaN
2  alfa-romeo        gas        std  ...  16500         NaN         NaN
3        audi        gas        std  ...  13950         NaN         NaN
4        audi        gas        std  ...  17450         NaN         NaN

[5 rows x 26 columns]

In [37]:
#ordinamento crescente
data_prov.sort_values(by='length')

             make carburante aspiration  ...  price Unnamed: 24 Unnamed: 25
17      chevrolet        gas        std  ...   5151         NaN         NaN
28          honda        gas        std  ...   6479         NaN         NaN
29          honda        gas        std  ...   6855         NaN         NaN
32          honda        gas        std  ...   7129         NaN         NaN
31          honda        gas        std  ...   6529         NaN         NaN
..            ...        ...        ...  ...    ...         ...         ...
43         jaguar        gas        std  ...  32250         NaN         NaN
44         jaguar        gas        std  ...  35550         NaN         NaN
62  mercedes-benz        gas        std  ...  34184         NaN         NaN
61  mercedes-benz     diesel      turbo  ...  31600         NaN         NaN
64  mercedes-benz        gas        std  ...  40960         NaN         NaN

[193 rows x 26 columns]

In [39]:
#ordinamento decrescente
data_prov.sort_values(by='length', ascending=False)

             make carburante aspiration  ...  price Unnamed: 24 Unnamed: 25
64  mercedes-benz        gas        std  ...  40960         NaN         NaN
62  mercedes-benz        gas        std  ...  34184         NaN         NaN
61  mercedes-benz     diesel      turbo  ...  31600         NaN         NaN
44         jaguar        gas        std  ...  35550         NaN         NaN
43         jaguar        gas        std  ...  32250         NaN         NaN
..            ...        ...        ...  ...    ...         ...         ...
31          honda        gas        std  ...   6529         NaN         NaN
30          honda        gas        std  ...   5399         NaN         NaN
29          honda        gas        std  ...   6855         NaN         NaN
28          honda        gas        std  ...   6479         NaN         NaN
17      chevrolet        gas        std  ...   5151         NaN         NaN

[193 rows x 26 columns]

In [40]:
#ordinamento decrescente con slicing (10 righe)
data_prov.sort_values(by='length', ascending=False)[:10]

              make carburante aspiration  ...  price Unnamed: 24 Unnamed: 25
64   mercedes-benz        gas        std  ...  40960         NaN         NaN
62   mercedes-benz        gas        std  ...  34184         NaN         NaN
61   mercedes-benz     diesel      turbo  ...  31600         NaN         NaN
44          jaguar        gas        std  ...  35550         NaN         NaN
43          jaguar        gas        std  ...  32250         NaN         NaN
65   mercedes-benz        gas        std  ...  45400         NaN         NaN
105         peugot     diesel      turbo  ...  17075         NaN         NaN
104         peugot        gas        std  ...  16695         NaN         NaN
101         peugot     diesel      turbo  ...  13860         NaN         NaN
100         peugot        gas        std  ...  12440         NaN         NaN

[10 rows x 26 columns]

In [42]:
#ordinamento decrescente e reset index
data_prov = data_prov.sort_values(by='length', ascending=False).reset_index()
data_prov

     level_0  index           make  ...  price Unnamed: 24 Unnamed: 25
0          0     64  mercedes-benz  ...  40960         NaN         NaN
1          2     61  mercedes-benz  ...  31600         NaN         NaN
2          1     62  mercedes-benz  ...  34184         NaN         NaN
3          3     44         jaguar  ...  35550         NaN         NaN
4          4     43         jaguar  ...  32250         NaN         NaN
..       ...    ...            ...  ...    ...         ...         ...
188      188     31          honda  ...   6529         NaN         NaN
189      189     30          honda  ...   5399         NaN         NaN
190      190     29          honda  ...   6855         NaN         NaN
191      191     28          honda  ...   6479         NaN         NaN
192      192     17      chevrolet  ...   5151         NaN         NaN

[193 rows x 28 columns]

In [43]:
#eliminazione colonna
data_prov.drop(columns = ['level_0','index'],inplace = True)

In [44]:
data_prov

              make carburante aspiration  ...  price Unnamed: 24 Unnamed: 25
0    mercedes-benz        gas        std  ...  40960         NaN         NaN
1    mercedes-benz     diesel      turbo  ...  31600         NaN         NaN
2    mercedes-benz        gas        std  ...  34184         NaN         NaN
3           jaguar        gas        std  ...  35550         NaN         NaN
4           jaguar        gas        std  ...  32250         NaN         NaN
..             ...        ...        ...  ...    ...         ...         ...
188          honda        gas        std  ...   6529         NaN         NaN
189          honda        gas        std  ...   5399         NaN         NaN
190          honda        gas        std  ...   6855         NaN         NaN
191          honda        gas        std  ...   6479         NaN         NaN
192      chevrolet        gas        std  ...   5151         NaN         NaN

[193 rows x 26 columns]

In [45]:
#aggregazione somma
data_prov['wheelbase'].sum()

19092.300000000003

In [46]:
data_prov.columns

Index(['make', 'carburante', 'aspiration', 'doors', 'body', 'drive',
       'engineloc', 'wheelbase', 'length', 'width', 'height', 'weight',
       'enginetype', 'cylinders', 'enginesize', 'fuelsystem', 'bore', 'stroke',
       'compression', 'horsepower', 'rpm', 'citympg', 'highwaympg', 'price',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [47]:
#filtro colonne
data_prov[['make','carburante']]

              make carburante
0    mercedes-benz        gas
1    mercedes-benz     diesel
2    mercedes-benz        gas
3           jaguar        gas
4           jaguar        gas
..             ...        ...
188          honda        gas
189          honda        gas
190          honda        gas
191          honda        gas
192      chevrolet        gas

[193 rows x 2 columns]

In [49]:
data_prov.rename(columns={'make':'modello'}, inplace=True)
data_prov

           modello carburante aspiration  ...  price Unnamed: 24 Unnamed: 25
0    mercedes-benz        gas        std  ...  40960         NaN         NaN
1    mercedes-benz     diesel      turbo  ...  31600         NaN         NaN
2    mercedes-benz        gas        std  ...  34184         NaN         NaN
3           jaguar        gas        std  ...  35550         NaN         NaN
4           jaguar        gas        std  ...  32250         NaN         NaN
..             ...        ...        ...  ...    ...         ...         ...
188          honda        gas        std  ...   6529         NaN         NaN
189          honda        gas        std  ...   5399         NaN         NaN
190          honda        gas        std  ...   6855         NaN         NaN
191          honda        gas        std  ...   6479         NaN         NaN
192      chevrolet        gas        std  ...   5151         NaN         NaN

[193 rows x 26 columns]

In [50]:
#filtro di righe
data_prov[data_prov['modello'] == 'honda']

    modello carburante aspiration  ...  price Unnamed: 24 Unnamed: 25
81    honda        gas        std  ...   8845         NaN         NaN
82    honda        gas        std  ...  10295         NaN         NaN
83    honda        gas        std  ...  12945         NaN         NaN
127   honda        gas        std  ...  10345         NaN         NaN
138   honda        gas        std  ...   7895         NaN         NaN
139   honda        gas        std  ...   9095         NaN         NaN
159   honda        gas        std  ...   7295         NaN         NaN
184   honda        gas        std  ...   7295         NaN         NaN
187   honda        gas        std  ...   7129         NaN         NaN
188   honda        gas        std  ...   6529         NaN         NaN
189   honda        gas        std  ...   5399         NaN         NaN
190   honda        gas        std  ...   6855         NaN         NaN
191   honda        gas        std  ...   6479         NaN         NaN

[13 rows x 26 columns]

In [12]:
#filtro di righe
cond1 = data_prov['length'] > 100
cond2 = data_prov['doors'] == 'two'
data_prov[cond1 & cond2]

           make fueltype aspiration  ...  price Unnamed: 24 Unnamed: 25
0    alfa-romeo      gas        std  ...  13495         NaN         NaN
1    alfa-romeo      gas        std  ...  16500         NaN         NaN
2    alfa-romeo      gas        std  ...  16500         NaN         NaN
5          audi      gas        std  ...  15250         NaN         NaN
9           bmw      gas        std  ...  16430         NaN         NaN
..          ...      ...        ...  ...    ...         ...         ...
167      toyota      gas        std  ...  15998         NaN         NaN
170  volkswagen   diesel        std  ...   7775         NaN         NaN
171  volkswagen      gas        std  ...   7975         NaN         NaN
177  volkswagen      gas        std  ...  11595         NaN         NaN
178  volkswagen      gas        std  ...   9980         NaN         NaN

[81 rows x 26 columns]

In [14]:
#trovare valori null
data_prov[data_prov.isnull().any(axis=1)]

           make fueltype aspiration  ...  price Unnamed: 24 Unnamed: 25
0    alfa-romeo      gas        std  ...  13495         NaN         NaN
1    alfa-romeo      gas        std  ...  16500         NaN         NaN
2    alfa-romeo      gas        std  ...  16500         NaN         NaN
3          audi      gas        std  ...  13950         NaN         NaN
4          audi      gas        std  ...  17450         NaN         NaN
..          ...      ...        ...  ...    ...         ...         ...
188       volvo      gas        std  ...  16845         NaN         NaN
189       volvo      gas      turbo  ...  19045         NaN         NaN
190       volvo      gas        std  ...  21485         NaN         NaN
191       volvo   diesel      turbo  ...  22470         NaN         NaN
192       volvo      gas      turbo  ...  22625         NaN         NaN

[193 rows x 26 columns]

In [16]:
data_prov.columns

Index(['make', 'fueltype', 'aspiration', 'doors', 'body', 'drive', 'engineloc',
       'wheelbase', 'length', 'width', 'height', 'weight', 'enginetype',
       'cylinders', 'enginesize', 'fuelsystem', 'bore', 'stroke',
       'compression', 'horsepower', 'rpm', 'citympg', 'highwaympg', 'price',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [19]:
#modifica dato di una cella 
data_prov.iloc[141,24] = 'prova'

In [21]:
#visualiza una data riga
data_prov.iloc[141, :]

make                 toyota
fueltype                gas
aspiration              std
doors                  four
body                  wagon
drive                   fwd
engineloc             front
wheelbase              95.7
length                169.7
width                  63.6
height                 59.1
weight                 2280
enginetype              ohc
cylinders      four-or-less
enginesize               92
fuelsystem             2bbl
bore                   3.05
stroke                 3.03
compression               9
horsepower               62
rpm                    4800
citympg                  31
highwaympg               37
price                  6918
Unnamed: 24           prova
Unnamed: 25             NaN
Name: 141, dtype: object

In [29]:
#creazione dataframe a mano
fueltype = ['gas','gas','gas','gas']
data = pd.DataFrame({
    'fueltype' : fueltype,
    'prov': ['To','Mi','Rm','Bo']
    })

In [30]:
data

  fueltype prov
0      gas   To
1      gas   Mi
2      gas   Rm
3      gas   Bo

In [31]:
#merge(Join in sql)
pd.merge(data,data_prov,how='left',left_on = 'fueltype',right_on = 'fueltype')

    fueltype prov        make  ...  price Unnamed: 24 Unnamed: 25
0        gas   To  alfa-romeo  ...  13495         NaN         NaN
1        gas   To  alfa-romeo  ...  16500         NaN         NaN
2        gas   To  alfa-romeo  ...  16500         NaN         NaN
3        gas   To        audi  ...  13950         NaN         NaN
4        gas   To        audi  ...  17450         NaN         NaN
..       ...  ...         ...  ...    ...         ...         ...
691      gas   Bo       volvo  ...  18950         NaN         NaN
692      gas   Bo       volvo  ...  16845         NaN         NaN
693      gas   Bo       volvo  ...  19045         NaN         NaN
694      gas   Bo       volvo  ...  21485         NaN         NaN
695      gas   Bo       volvo  ...  22625         NaN         NaN

[696 rows x 27 columns]

In [32]:
data_prov[['make','doors']]

           make doors
0    alfa-romeo   two
1    alfa-romeo   two
2    alfa-romeo   two
3          audi  four
4          audi  four
..          ...   ...
188       volvo  four
189       volvo  four
190       volvo  four
191       volvo  four
192       volvo  four

[193 rows x 2 columns]

In [34]:
#Group By
data_prov[['make','doors']].groupby('make').count()

               doors
make
alfa-romeo         3
audi               6
bmw                8
chevrolet          3
dodge              8
honda             13
isuzu              2
jaguar             3
mazda             12
mercedes-benz      8
mercury            1
mitsubishi        13
nissan            18
peugot            11
plymouth           7
porsche            4
saab               6
subaru            12
toyota            32
volkswagen        12
volvo             11

In [35]:
#Group By v2
data_prov[['make','doors']].groupby('make').agg({'doors' : ['count']})

              doors
              count
make
alfa-romeo        3
audi              6
bmw               8
chevrolet         3
dodge             8
honda            13
isuzu             2
jaguar            3
mazda            12
mercedes-benz     8
mercury           1
mitsubishi       13
nissan           18
peugot           11
plymouth          7
porsche           4
saab              6
subaru           12
toyota           32
volkswagen       12
volvo            11