<a href="https://colab.research.google.com/github/mmorritti/Python_ITS/blob/main/Pandas_3_Morritti.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import pandas as pd

In [ ]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [ ]:
mpg = sns.load_dataset('mpg')
mpg

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

AttivitÃ 

1) Visualizzare le prime 5 righe del dataframe (head), e l'informazione di base (info)

2) Rinominare le colonne con nomi in italiano

3) Visualizzare la media, il minimo e il massimo valore di tutte le colonne numeriche

4) Costruire un dataframe (DataFrame) con il nome e la quantitÃ  di valori diversi presenti nelle colonne name, origin, cylinders e model_year

5) Individuare le righe del dataframe dove ci sono dati mancanti (null, NaN, None, ecc)

6) Sostituire i dati mancanti con dei valori verosimili estratti dallo stesso dataframe, giustificando la scelta

7) Trovare la macchina europea piÃ¹ recente del dataset con il massimo mpg e la massima horsepower

In [ ]:
#1) Visualizzare le prime 5 righe del dataframe (head), e l'informazione di base (info)
mpg.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

In [ ]:
#1) Visualizzare le prime 5 righe del dataframe (head), e l'informazione di base (info)
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [ ]:
#1) Visualizzare le prime 5 righe del dataframe (head), e l'informazione di base (info)
mpg.shape

(398, 9)

In [ ]:
#Visualizzo nomi colonne
mpg.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [ ]:
#2) Rinominare le colonne con nomi in italiano
mpg.rename(columns={'cylinders':'cilindri',
                    'displacement':'dislocamento',
                    'horsepower' : 'cavalli',
                    'weight':'peso',
                    'acceleration':'accellerazione',
                    'model_year':'anno_modello',
                    'origin':'origine',
                    'name':'nome'
                    },inplace=True)

In [ ]:
#visualizzo tabella con nomi nuovi
mpg.head()

    mpg  cilindri  ...  origine                       nome
0  18.0         8  ...      usa  chevrolet chevelle malibu
1  15.0         8  ...      usa          buick skylark 320
2  18.0         8  ...      usa         plymouth satellite
3  16.0         8  ...      usa              amc rebel sst
4  17.0         8  ...      usa                ford torino

[5 rows x 9 columns]

In [ ]:
#3) Visualizzare la media, il minimo e il massimo valore di tutte le colonne numeriche
mpg['mpg'].min(), mpg['mpg'].max(), round(mpg['mpg'].mean(),2)

(9.0, 46.6, 23.51)

In [ ]:
#3) Visualizzare la media, il minimo e il massimo valore di tutte le colonne numeriche
mpg['cilindri'].min(), mpg['cilindri'].max(), round(mpg['cilindri'].mean(),2)

(3, 8, 5.45)

In [ ]:
#3) Visualizzare la media, il minimo e il massimo valore di tutte le colonne numeriche
mpg['dislocamento'].min(), mpg['dislocamento'].max(), round(mpg['dislocamento'].mean(),2)

(68.0, 455.0, 193.43)

In [ ]:
#3) Visualizzare la media, il minimo e il massimo valore di tutte le colonne numeriche
mpg['cavalli'].min(), mpg['cavalli'].max(), round(mpg['cavalli'].mean(),2)

(46.0, 230.0, 104.47)

In [ ]:
#3) Visualizzare la media, il minimo e il massimo valore di tutte le colonne numeriche
mpg['peso'].min(), mpg['peso'].max(), round(mpg['peso'].mean(),2)

(1613, 5140, 2970.42)

In [ ]:
#3) Visualizzare la media, il minimo e il massimo valore di tutte le colonne numeriche
mpg['accellerazione'].min(), mpg['accellerazione'].max(), round(mpg['accellerazione'].mean(),2)

(8.0, 24.8, 15.57)

In [ ]:
#3) Visualizzare la media, il minimo e il massimo valore di tutte le colonne numeriche
mpg['anno_modello'].min(), mpg['anno_modello'].max(), round(mpg['anno_modello'].mean(),2)

(70, 82, 76.01)

In [ ]:
mpg.columns

Index(['mpg', 'cilindri', 'dislocamento', 'cavalli', 'peso', 'accellerazione',
       'anno_modello', 'origine', 'nome'],
      dtype='object')

In [ ]:
#4) Costruire un dataframe (DataFrame) con il nome e la quantitÃ  di valori diversi 
#presenti nelle colonne name, origin, cylinders e model_year
data = pd.DataFrame({
    'nome':[mpg.nome.nunique()],
    'origine':[mpg.origine.nunique()],
    'cilindri':[mpg.cilindri.nunique()],
    'anno_modello':[mpg.anno_modello.nunique()]
})
data

   nome  origine  cilindri  anno_modello
0   305        3         5            13

In [ ]:
#5) Individuare le righe del dataframe dove ci sono dati mancanti (null, NaN, None, ecc)
mpg[mpg.isnull().any(axis=1)]

      mpg  cilindri  dislocamento  ...  anno_modello  origine                  nome
32   25.0         4          98.0  ...            71      usa            ford pinto
126  21.0         6         200.0  ...            74      usa         ford maverick
330  40.9         4          85.0  ...            80   europe  renault lecar deluxe
336  23.6         4         140.0  ...            80      usa    ford mustang cobra
354  34.5         4         100.0  ...            81   europe           renault 18i
374  23.0         4         151.0  ...            82      usa        amc concord dl

[6 rows x 9 columns]

In [ ]:
# 6) Sostituire i dati mancanti con dei valori verosimili estratti dallo stesso dataframe, giustificando la scelta
# individuo i dati simili 
mpg['nome'].str.contains('ford')

0      True
1      True
2      True
3      True
4      True
       ...
393    True
394    True
395    True
396    True
397    True
Name: nome, Length: 398, dtype: bool

In [ ]:
# salvo il dato e modifico il data frame
a=mpg.iloc[0,3]
mpg.iloc[32,3] = a
mpg.iloc[126,3] = a
mpg.iloc[330,3] = a
mpg.iloc[336,3] = a
mpg.iloc[354,3] = a
mpg.iloc[374,3] = a
# ho usato i cavalli di un auto della stessa marca

In [ ]:
# controllo che non ci siano piÃ¹ valori nulli
mpg[mpg.isnull().any(axis=1)]

Empty DataFrame
Columns: [mpg, cilindri, dislocamento, cavalli, peso, accellerazione, anno_modello, origine, nome]
Index: []

In [ ]:
#7) Trovare la macchina europea piÃ¹ recente del dataset con il massimo mpg e la massima horsepower
europa = mpg[mpg['origine'] == 'europe'] 
anno_max = europa['anno_modello'].max()
anno_filtro = europa[europa['anno_modello'] == anno_max]
mpg_max = anno_filtro['mpg'].max()
mpg_filtro = anno_filtro[anno_filtro['mpg'] == mpg_max]
cavalli_max = mpg_filtro['cavalli'].max()
cavalli_filtro = mpg_filtro[mpg_filtro['cavalli'] == cavalli_max]
cavalli_filtro

      mpg  cilindri  dislocamento  ...  anno_modello  origine        nome
394  44.0         4          97.0  ...            82   europe  ford pinto

[1 rows x 9 columns]